numpy >= 1.20.2
scipy >= 1.6.0
absl-py >= 0.12.0
gdown >= 3.12.2
tqdm >= 4.60.0
flax >= 0.3.5
jax >= 0.2.26
ml_collections >= 0.1.0
optax >= 0.0.6
typer >= 0.6.1
quantecon >= 0.5.3
numba >= 0.52.0
d4rl @ git+https://github.com/ikostrikov/d4rl@master#egg=d4rl
